/*
 *  CSS for robertbrockie.com
 *  ----------------------
 */
a:link {color:black; text-decoration: underline;}
a:visited {color:black; text-decoration: underline;}
a:active {color:black; text-decoration: underline;}
a:hover {color:black; text-decoration: underline;}

body { 
	font-family: 'Port Lligat Sans', sans-serif;	
	font-size: 30px;
	line-height: normal;
}

b { font-weight: bold; }

hr
{
   color: black;
   height:3px;
   width:25%;
   position: relative;
}

h1
{
   margin:10px;
   font-size:24px;
}

input
{
   border:1px solid black;
}

#url
{
	width: 300px;
}

#output span
{
	background-color: black;
	color: white;
}


.ballon
{
	position: relative;
	padding: 15px;
	margin: 1em 0 0 0;
	border: 5px solid #000000;
	color: #333;
	background: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-image: initial;
	width:500px;
}

.ballon::before {
content: "";
position: absolute;
bottom: -20px;
left: 40px;
border-width: 20px 20px 0;
border-style: solid;
border-color: #000 transparent;
display: block;
width: 0;
}

.ballon::after {
content: "";
position: absolute;
bottom: -13px;
left: 47px;
border-width: 13px 13px 0;
border-style: solid;
border-color: white transparent;
display: block;
width: 0;
}
